# Out-of-State-Contributions: National Analysis

How much out-of-state money have candidates nationally raised in the 2018 election cycle, in absolute and proportional terms, thus far and how does that compare with this point in the 2014 and 2010 cycles?

In [2]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 500)
pd.options.display.float_format = "{:,.2f}".format # Format floats

Import contributions data.

In [11]:
#type_dict = {'candidate': 'category', 'state': 'category', 'party': 'category', 'election_status': 'category', 'contributor': 'category', 'in_out_state': 'category', 'no_veto': 'category', 'office': 'category', 'redistricting_role': 'category', 'independent_commission': 'category', 'single_house_district': 'category', 'standardized_office': 'category', 'standardized_status': 'category', 'two_year_term': 'category'} 

read_cols = ["candidate",
    "candidate_id",
    "year",
    "state",
    "party",
    "election_status",
    "contributor",
    "amount",
    "date",
    "in_out_state",
    "no_veto",
    "office",
    "last_day",
    "redistricting_role",
    "independent_commission",
    "single_house_district",
    "standardized_office",
    "standardized_status",
    "two_year_term"]
                 

contributions = pd.read_csv("data/contributions.csv.gz", usecols=read_cols, compression="gzip")
contributions.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (14,17,18,19,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6947770 entries, 0 to 6947769
Data columns (total 19 columns):
candidate                 object
candidate_id              int64
year                      int64
state                     object
party                     object
election_status           object
contributor               object
amount                    float64
date                      object
in_out_state              object
no_veto                   object
office                    object
last_day                  object
redistricting_role        object
independent_commission    object
single_house_district     object
standardized_office       object
standardized_status       object
two_year_term             object
dtypes: float64(1), int64(2), object(16)
memory usage: 1007.1+ MB

Convert the candidate ID and year columns to integer data type, the contribution date and latest month columns to datetime data type and the contributor zip column to object data type.

In [12]:
contributions["candidate_id"] = pd.to_numeric(contributions["candidate_id"], errors="coerce", downcast="integer")
contributions["year"] = pd.to_numeric(contributions["year"], errors="coerce", downcast="integer")
contributions["date"] = pd.to_datetime(contributions["date"], errors="coerce")
contributions["last_day"] = pd.to_datetime(contributions["last_day"], errors="coerce")
contributions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6947770 entries, 0 to 6947769
Data columns (total 19 columns):
candidate                 object
candidate_id              int32
year                      int16
state                     object
party                     object
election_status           object
contributor               object
amount                    float64
date                      datetime64[ns]
in_out_state              object
no_veto                   object
office                    object
last_day                  datetime64[ns]
redistricting_role        object
independent_commission    object
single_house_district     object
standardized_office       object
standardized_status       object
two_year_term             object
dtypes: datetime64[ns](2), float64(1), int16(1), int32(1), object(14)
memory usage: 940.9+ MB

Import full cycle contributions data.

In [21]:
full_read_cols = ["candidate_id",
"candidate",
"election_status",
"party",
"state",
"year",
"office",
"contributor",
"amount",
"date",
"in_out_state",
"standardized_office",
"standardized_status"]


contributions_full_cycles = pd.read_csv("data/contributions_full_cycles.csv.gz", usecols=full_read_cols, compression="gzip")
contributions_full_cycles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9106128 entries, 0 to 9106127
Data columns (total 13 columns):
candidate_id           int64
candidate              object
election_status        object
party                  object
state                  object
year                   int64
office                 object
contributor            object
amount                 float64
date                   object
in_out_state           object
standardized_office    object
standardized_status    object
dtypes: float64(1), int64(2), object(10)
memory usage: 903.2+ MB

Convert the candidate ID and year columns to integer data type, the contribution date column to datetime data type and the contributor zip column to object data type.

In [23]:
contributions_full_cycles["candidate_id"] = pd.to_numeric(contributions_full_cycles["candidate_id"], errors="coerce", downcast="integer")
contributions_full_cycles["year"] = pd.to_numeric(contributions_full_cycles["year"], errors="coerce", downcast="integer")
contributions_full_cycles["date"] = pd.to_datetime(contributions_full_cycles["date"], errors="coerce")
contributions_full_cycles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9106128 entries, 0 to 9106127
Data columns (total 13 columns):
candidate_id           int32
candidate              object
election_status        object
party                  object
state                  object
year                   int16
office                 object
contributor            object
amount                 float64
date                   datetime64[ns]
in_out_state           object
standardized_office    object
standardized_status    object
dtypes: datetime64[ns](1), float64(1), int16(1), int32(1), object(9)
memory usage: 816.3+ MB

## Calculate out-of-state contributions by party and year

Group by year and party and in-vs.-out-of-state contribution status and sum contributions.

In [14]:
contributions_by_party = contributions.groupby(["year", "party", "in_out_state"])["amount"].sum().reset_index()
contributions_by_party.head()

   year        party  in_out_state         amount
0  2010   Democratic      in-state 522,299,073.61
1  2010   Democratic  out-of-state  64,459,173.68
2  2010   Democratic       unknown   1,711,796.78
3  2010  Nonpartisan      in-state   1,001,559.24
4  2010  Nonpartisan  out-of-state     143,053.70

Pivot dataframe to aggregate each party's data in a single row.

In [15]:
contributions_by_party = pd.pivot_table(contributions_by_party, index=["party"], columns=["year", "in_out_state"]).reset_index()
contributions_by_party

                    party         amount                             \
year                                2010
in_out_state                    in-state  out-of-state      unknown
0              Democratic 522,299,073.61 64,459,173.68 1,711,796.78
1             Nonpartisan   1,001,559.24    143,053.70   -19,438.72
2              Republican 713,955,871.26 58,357,989.12   879,716.94
3             Third-Party   6,973,354.29    863,617.19 1,627,719.63

                                                                        \
year                   2014                                       2018
in_out_state       in-state  out-of-state       unknown       in-state
0            448,015,031.65 75,977,382.64  6,305,639.05 697,370,485.50
1              1,788,615.01    182,893.05      4,068.00   1,642,246.38
2            514,062,323.97 79,736,709.55 11,210,610.49 778,071,049.27
3             13,019,944.28    634,805.94     40,286.04   3,320,100.46


year
in_out_state   out-of-state       unknown
0            101,159,976.10 10,118,024.01
1                336,165.87     -2,307.58
2             71,725,054.94  9,473,727.05
3                339,879.37    486,249.28

Flatten the resulting dataframe's multi-index columns.

In [16]:
contributions_by_party.columns = ["party", "10_in_state", "10_out_of_state", "10_unknown",
                                  "14_in_state", "14_out_of_state", "14_unknown",
                                  "18_in_state", "18_out_of_state", "18_unknown"
                                  ]
contributions_by_party

,party,10_in_state,10_out_of_state,10_unknown,14_in_state,14_out_of_state,14_unknown,18_in_state,18_out_of_state,18_unknown
0,Democratic,"522,299,073.61","64,459,173.68","1,711,796.78","448,015,031.65","75,977,382.64","6,305,639.05","697,370,485.50","101,159,976.10","10,118,024.01"
1,Nonpartisan,"1,001,559.24","143,053.70","-19,438.72","1,788,615.01","182,893.05","4,068.00","1,642,246.38","336,165.87","-2,307.58"
2,Republican,"713,955,871.26","58,357,989.12","879,716.94","514,062,323.97","79,736,709.55","11,210,610.49","778,071,049.27","71,725,054.94","9,473,727.05"
3,Third-Party,"6,973,354.29","863,617.19","1,627,719.63","13,019,944.28","634,805.94","40,286.04","3,320,100.46","339,879.37","486,249.28"

Calculate the total contributions by cycle.

In [17]:
contributions_by_party["18_total"] = contributions_by_party["18_in_state"] + contributions_by_party["18_out_of_state"] + contributions_by_party["18_unknown"]
contributions_by_party["14_total"] = contributions_by_party["14_in_state"] + contributions_by_party["14_out_of_state"] + contributions_by_party["14_unknown"]
contributions_by_party["10_total"] = contributions_by_party["10_in_state"] + contributions_by_party["10_out_of_state"] + contributions_by_party["10_unknown"]
contributions_by_party = contributions_by_party[["party", "18_in_state", "18_out_of_state", "18_unknown", "18_total", "14_in_state", "14_out_of_state", "14_unknown", "14_total", "10_in_state", "10_out_of_state", "10_unknown", "10_total"]]

Calculate the proportion of in-state, out-of-state and unknown contributions by cycle.

In [18]:
contributions_by_party["pct_18_in_state"] = contributions_by_party["18_in_state"] / contributions_by_party["18_total"]
contributions_by_party["pct_18_out_of_state"] = contributions_by_party["18_out_of_state"] / contributions_by_party["18_total"]
contributions_by_party["pct_18_unknown"] = contributions_by_party["18_unknown"] / contributions_by_party["18_total"]
contributions_by_party["pct_14_in_state"] = contributions_by_party["14_in_state"] / contributions_by_party["14_total"]
contributions_by_party["pct_14_out_of_state"] = contributions_by_party["14_out_of_state"] / contributions_by_party["14_total"]
contributions_by_party["pct_14_unknown"] = contributions_by_party["14_unknown"] / contributions_by_party["14_total"]
contributions_by_party["pct_10_in_state"] = contributions_by_party["10_in_state"] /  contributions_by_party["10_total"]
contributions_by_party["pct_10_out_of_state"] = contributions_by_party["10_out_of_state"] / contributions_by_party["10_total"]
contributions_by_party["pct_10_unknown"] = contributions_by_party["10_unknown"] / contributions_by_party["10_total"]
contributions_by_party

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,party,18_in_state,18_out_of_state,18_unknown,18_total,14_in_state,14_out_of_state,14_unknown,14_total,10_in_state,10_out_of_state,10_unknown,10_total,pct_18_in_state,pct_18_out_of_state,pct_18_unknown,pct_14_in_state,pct_14_out_of_state,pct_14_unknown,pct_10_in_state,pct_10_out_of_state,pct_10_unknown
0,Democratic,"697,370,485.50","101,159,976.10","10,118,024.01","808,648,485.61","448,015,031.65","75,977,382.64","6,305,639.05","530,298,053.34","522,299,073.61","64,459,173.68","1,711,796.78","588,470,044.07",0.86,0.13,0.01,0.84,0.14,0.01,0.89,0.11,0.00
1,Nonpartisan,"1,642,246.38","336,165.87","-2,307.58","1,976,104.67","1,788,615.01","182,893.05","4,068.00","1,975,576.06","1,001,559.24","143,053.70","-19,438.72","1,125,174.22",0.83,0.17,-0.00,0.91,0.09,0.00,0.89,0.13,-0.02
2,Republican,"778,071,049.27","71,725,054.94","9,473,727.05","859,269,831.26","514,062,323.97","79,736,709.55","11,210,610.49","605,009,644.01","713,955,871.26","58,357,989.12","879,716.94","773,193,577.32",0.91,0.08,0.01,0.85,0.13,0.02,0.92,0.08,0.00
3,Third-Party,"3,320,100.46","339,879.37","486,249.28","4,146,229.11","13,019,944.28","634,805.94","40,286.04","13,695,036.26","6,973,354.29","863,617.19","1,627,719.63","9,464,691.11",0.80,0.08,0.12,0.95,0.05,0.00,0.74,0.09,0.17

## Calculate out-of-state contributions by party and year for the complete cycle

Group by year and party and in-vs.-out-of-state contribution status and sum contributions.

In [24]:
contributions_by_party_full_cycles = contributions_full_cycles.groupby(["year", "party", "in_out_state"])["amount"].sum().reset_index()
contributions_by_party_full_cycles.head()

   year        party  in_out_state         amount
0  2010   Democratic      in-state 782,601,351.14
1  2010   Democratic  out-of-state  98,978,507.93
2  2010   Democratic       unknown   5,873,945.04
3  2010  Nonpartisan      in-state   1,393,839.63
4  2010  Nonpartisan  out-of-state     197,886.63

Pivot dataframe to aggregate each party's data in a single row.

In [25]:
contributions_by_party_full_cycles = pd.pivot_table(contributions_by_party_full_cycles, index=["party"], columns=["year", "in_out_state"]).reset_index()
contributions_by_party_full_cycles

                    party           amount                             \
year                                  2010
in_out_state                      in-state  out-of-state      unknown
0              Democratic   782,601,351.14 98,978,507.93 5,873,945.04
1             Nonpartisan     1,393,839.63    197,886.63   -16,406.72
2              Republican 1,050,695,215.16 98,930,400.21 3,278,640.99
3             Third-Party    16,751,364.84  1,554,587.31 5,214,417.52

                                                                         \
year                   2014                                        2018
in_out_state       in-state   out-of-state       unknown       in-state
0            688,634,127.81 116,003,523.41  9,128,383.19 707,990,241.87
1              3,559,696.98     464,716.75     10,268.00   1,642,246.38
2            865,413,734.07 124,561,145.90 14,348,298.86 795,176,405.03
3             19,055,899.25   1,099,466.87     83,266.73   3,344,964.24


year
in_out_state   out-of-state       unknown
0            104,940,627.95 10,618,189.37
1                336,165.87     -2,307.58
2             75,738,193.34 11,253,754.55
3                342,789.37    486,816.42

Some records have no contributions for certain categories. Let's set those values equal to zero to be sure any calculations we run on them are correct.

In [26]:
contributions_by_party_full_cycles.fillna(0, inplace=True)

Flatten the resulting dataframe's multi-index columns.

In [27]:
contributions_by_party_full_cycles.columns = ["party", "10_in_state", "10_out_of_state", "10_unknown",
                                  "14_in_state", "14_out_of_state", "14_unknown",
                                  "18_in_state", "18_out_of_state", "18_unknown"
                                  ]
contributions_by_party_full_cycles

,party,10_in_state,10_out_of_state,10_unknown,14_in_state,14_out_of_state,14_unknown,18_in_state,18_out_of_state,18_unknown
0,Democratic,"782,601,351.14","98,978,507.93","5,873,945.04","688,634,127.81","116,003,523.41","9,128,383.19","707,990,241.87","104,940,627.95","10,618,189.37"
1,Nonpartisan,"1,393,839.63","197,886.63","-16,406.72","3,559,696.98","464,716.75","10,268.00","1,642,246.38","336,165.87","-2,307.58"
2,Republican,"1,050,695,215.16","98,930,400.21","3,278,640.99","865,413,734.07","124,561,145.90","14,348,298.86","795,176,405.03","75,738,193.34","11,253,754.55"
3,Third-Party,"16,751,364.84","1,554,587.31","5,214,417.52","19,055,899.25","1,099,466.87","83,266.73","3,344,964.24","342,789.37","486,816.42"

Calculate the total contributions by cycle.

In [28]:
contributions_by_party_full_cycles["18_total"] = contributions_by_party_full_cycles["18_in_state"] + contributions_by_party_full_cycles["18_out_of_state"] + contributions_by_party_full_cycles["18_unknown"]
contributions_by_party_full_cycles["14_total"] = contributions_by_party_full_cycles["14_in_state"] + contributions_by_party_full_cycles["14_out_of_state"] + contributions_by_party_full_cycles["14_unknown"]
contributions_by_party_full_cycles["10_total"] = contributions_by_party_full_cycles["10_in_state"] + contributions_by_party_full_cycles["10_out_of_state"] + contributions_by_party_full_cycles["10_unknown"]
contributions_by_party_full_cycles = contributions_by_party_full_cycles[["party", "18_in_state", "18_out_of_state", "18_unknown", "18_total", "14_in_state", "14_out_of_state", "14_unknown", "14_total", "10_in_state", "10_out_of_state", "10_unknown", "10_total"]]

Calculate the proportion of in-state, out-of-state and unknown contributions by cycle.

In [29]:
contributions_by_party_full_cycles["pct_18_in_state"] = contributions_by_party_full_cycles["18_in_state"] / contributions_by_party_full_cycles["18_total"]
contributions_by_party_full_cycles["pct_18_out_of_state"] = contributions_by_party_full_cycles["18_out_of_state"] / contributions_by_party_full_cycles["18_total"]
contributions_by_party_full_cycles["pct_18_unknown"] = contributions_by_party_full_cycles["18_unknown"] / contributions_by_party_full_cycles["18_total"]
contributions_by_party_full_cycles["pct_14_in_state"] = contributions_by_party_full_cycles["14_in_state"] / contributions_by_party_full_cycles["14_total"]
contributions_by_party_full_cycles["pct_14_out_of_state"] = contributions_by_party_full_cycles["14_out_of_state"] / contributions_by_party_full_cycles["14_total"]
contributions_by_party_full_cycles["pct_14_unknown"] = contributions_by_party_full_cycles["14_unknown"] / contributions_by_party_full_cycles["14_total"]
contributions_by_party_full_cycles["pct_10_in_state"] = contributions_by_party_full_cycles["10_in_state"] / contributions_by_party_full_cycles["10_total"]
contributions_by_party_full_cycles["pct_10_out_of_state"] = contributions_by_party_full_cycles["10_out_of_state"] / contributions_by_party_full_cycles["10_total"]
contributions_by_party_full_cycles["pct_10_unknown"] = contributions_by_party_full_cycles["10_unknown"] / contributions_by_party_full_cycles["10_total"]
contributions_by_party_full_cycles

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,party,18_in_state,18_out_of_state,18_unknown,18_total,14_in_state,14_out_of_state,14_unknown,14_total,10_in_state,10_out_of_state,10_unknown,10_total,pct_18_in_state,pct_18_out_of_state,pct_18_unknown,pct_14_in_state,pct_14_out_of_state,pct_14_unknown,pct_10_in_state,pct_10_out_of_state,pct_10_unknown
0,Democratic,"707,990,241.87","104,940,627.95","10,618,189.37","823,549,059.19","688,634,127.81","116,003,523.41","9,128,383.19","813,766,034.41","782,601,351.14","98,978,507.93","5,873,945.04","887,453,804.11",0.86,0.13,0.01,0.85,0.14,0.01,0.88,0.11,0.01
1,Nonpartisan,"1,642,246.38","336,165.87","-2,307.58","1,976,104.67","3,559,696.98","464,716.75","10,268.00","4,034,681.73","1,393,839.63","197,886.63","-16,406.72","1,575,319.54",0.83,0.17,-0.00,0.88,0.12,0.00,0.88,0.13,-0.01
2,Republican,"795,176,405.03","75,738,193.34","11,253,754.55","882,168,352.92","865,413,734.07","124,561,145.90","14,348,298.86","1,004,323,178.83","1,050,695,215.16","98,930,400.21","3,278,640.99","1,152,904,256.36",0.90,0.09,0.01,0.86,0.12,0.01,0.91,0.09,0.00
3,Third-Party,"3,344,964.24","342,789.37","486,816.42","4,174,570.03","19,055,899.25","1,099,466.87","83,266.73","20,238,632.85","16,751,364.84","1,554,587.31","5,214,417.52","23,520,369.67",0.80,0.08,0.12,0.94,0.05,0.00,0.71,0.07,0.22

## Calculate out-of-state contributions by office and year

Group by year, standardized office and in-vs.-out-of-state contribution status and sum contributions.

In [30]:
contributions_by_office = contributions.groupby(["year", "standardized_office", "in_out_state"])["amount"].sum().reset_index()
contributions_by_office.head()

   year           standardized_office  in_out_state         amount
0  2010  GOVERNOR/LIEUTENANT GOVERNOR      in-state 735,647,669.72
1  2010  GOVERNOR/LIEUTENANT GOVERNOR  out-of-state  75,485,227.03
2  2010  GOVERNOR/LIEUTENANT GOVERNOR       unknown   2,236,022.41
3  2010   STATE HOUSE/ASSEMBLY/SENATE      in-state 508,582,188.68
4  2010   STATE HOUSE/ASSEMBLY/SENATE  out-of-state  48,338,606.66

Pivot the dataframe to aggregate each office's data in a single row.

In [31]:
contributions_by_office = pd.pivot_table(contributions_by_office, index=["standardized_office"], columns=["year", "in_out_state"]).reset_index()
contributions_by_office

                       standardized_office         amount                \
year                                                 2010
in_out_state                                     in-state  out-of-state
0             GOVERNOR/LIEUTENANT GOVERNOR 735,647,669.72 75,485,227.03
1              STATE HOUSE/ASSEMBLY/SENATE 508,582,188.68 48,338,606.66

                                                                      \
year                                2014
in_out_state      unknown       in-state  out-of-state       unknown
0            2,236,022.41 444,362,049.28 97,352,878.34 10,272,963.55
1            1,963,772.22 532,523,865.63 59,178,912.84  7,287,640.03


year                   2018
in_out_state       in-state   out-of-state       unknown
0            940,672,140.40 102,641,938.11  7,614,000.59
1            539,731,741.21  70,919,138.17 12,461,692.17

Flatten the resulting dataframe's multi-index columns.

In [32]:
contributions_by_office.columns = ["standardized_office", "10_in_state", "10_out_of_state", "10_unknown",
                                  "14_in_state", "14_out_of_state", "14_unknown",
                                  "18_in_state", "18_out_of_state", "18_unknown"]
contributions_by_office

,standardized_office,10_in_state,10_out_of_state,10_unknown,14_in_state,14_out_of_state,14_unknown,18_in_state,18_out_of_state,18_unknown
0,GOVERNOR/LIEUTENANT GOVERNOR,"735,647,669.72","75,485,227.03","2,236,022.41","444,362,049.28","97,352,878.34","10,272,963.55","940,672,140.40","102,641,938.11","7,614,000.59"
1,STATE HOUSE/ASSEMBLY/SENATE,"508,582,188.68","48,338,606.66","1,963,772.22","532,523,865.63","59,178,912.84","7,287,640.03","539,731,741.21","70,919,138.17","12,461,692.17"

Calculate the total contributions by cycle.

In [33]:
contributions_by_office["18_total"] = contributions_by_office["18_in_state"] + contributions_by_office["18_out_of_state"] + contributions_by_office["18_unknown"]
contributions_by_office["14_total"] = contributions_by_office["14_in_state"] + contributions_by_office["14_out_of_state"] + contributions_by_office["14_unknown"]
contributions_by_office["10_total"] = contributions_by_office["10_in_state"] + contributions_by_office["10_out_of_state"] + contributions_by_office["10_unknown"]
contributions_by_office = contributions_by_office[["standardized_office", "18_in_state", "18_out_of_state", "18_unknown", "18_total", "14_in_state", "14_out_of_state", "14_unknown", "14_total", "10_in_state", "10_out_of_state", "10_unknown", "10_total"]]
contributions_by_office

,standardized_office,18_in_state,18_out_of_state,18_unknown,18_total,14_in_state,14_out_of_state,14_unknown,14_total,10_in_state,10_out_of_state,10_unknown,10_total
0,GOVERNOR/LIEUTENANT GOVERNOR,"940,672,140.40","102,641,938.11","7,614,000.59","1,050,928,079.10","444,362,049.28","97,352,878.34","10,272,963.55","551,987,891.17","735,647,669.72","75,485,227.03","2,236,022.41","813,368,919.16"
1,STATE HOUSE/ASSEMBLY/SENATE,"539,731,741.21","70,919,138.17","12,461,692.17","623,112,571.55","532,523,865.63","59,178,912.84","7,287,640.03","598,990,418.50","508,582,188.68","48,338,606.66","1,963,772.22","558,884,567.56"

Calculate the proportion of in-state, out-of-state and unknown contributions.

In [35]:
contributions_by_office["pct_18_in_state"] = contributions_by_office["18_in_state"] / contributions_by_office["18_total"]
contributions_by_office["pct_18_out_of_state"] = contributions_by_office["18_out_of_state"] / contributions_by_office["18_total"]
contributions_by_office["pct_18_unknown"] = contributions_by_office["18_unknown"] / contributions_by_office["18_total"]
contributions_by_office["pct_14_in_state"] = contributions_by_office["14_in_state"] / contributions_by_office["14_total"]
contributions_by_office["pct_14_out_of_state"] = contributions_by_office["14_out_of_state"] / contributions_by_office["14_total"]
contributions_by_office["pct_14_unknown"] = contributions_by_office["14_unknown"] / contributions_by_office["14_total"]
contributions_by_office["pct_10_in_state"] = contributions_by_office["10_in_state"] / contributions_by_office["10_total"]
contributions_by_office["pct_10_out_of_state"] = contributions_by_office["10_out_of_state"] / contributions_by_office["10_total"]
contributions_by_office["pct_10_unknown"] = contributions_by_office["10_unknown"] / contributions_by_office["10_total"]
contributions_by_office

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,standardized_office,18_in_state,18_out_of_state,18_unknown,18_total,14_in_state,14_out_of_state,14_unknown,14_total,10_in_state,10_out_of_state,10_unknown,10_total,pct_18_in_state,pct_18_out_of_state,pct_18_unknown,pct_14_in_state,pct_14_out_of_state,pct_14_unknown,pct_10_in_state,pct_10_out_of_state,pct_10_unknown
0,GOVERNOR/LIEUTENANT GOVERNOR,"940,672,140.40","102,641,938.11","7,614,000.59","1,050,928,079.10","444,362,049.28","97,352,878.34","10,272,963.55","551,987,891.17","735,647,669.72","75,485,227.03","2,236,022.41","813,368,919.16",0.90,0.10,0.01,0.81,0.18,0.02,0.90,0.09,0.00
1,STATE HOUSE/ASSEMBLY/SENATE,"539,731,741.21","70,919,138.17","12,461,692.17","623,112,571.55","532,523,865.63","59,178,912.84","7,287,640.03","598,990,418.50","508,582,188.68","48,338,606.66","1,963,772.22","558,884,567.56",0.87,0.11,0.02,0.89,0.10,0.01,0.91,0.09,0.00

## Calculate 2018 out-of-state contributions by redistricting role

Filter the contributions data to the 2018 cycle.

In [36]:
contributions_18 = contributions[contributions["year"] == 2018]
contributions_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2633056 entries, 0 to 2633055
Data columns (total 19 columns):
candidate                 object
candidate_id              int32
year                      int16
state                     object
party                     object
election_status           object
contributor               object
amount                    float64
date                      datetime64[ns]
in_out_state              object
no_veto                   object
office                    object
last_day                  datetime64[ns]
redistricting_role        object
independent_commission    object
single_house_district     object
standardized_office       object
standardized_status       object
two_year_term             object
dtypes: datetime64[ns](2), float64(1), int16(1), int32(1), object(14)
memory usage: 376.7+ MB

Group by redistricting role and in-vs.-out-of-state contribution status and sum contributions.

In [37]:
contributions_by_redistricting = contributions.groupby(["redistricting_role", "in_out_state"])["amount"].sum().reset_index()
contributions_by_redistricting

  redistricting_role  in_out_state           amount
0                  N      in-state   295,402,598.38
1                  N  out-of-state    35,910,271.54
2                  N       unknown     9,461,789.96
3                  Y      in-state 1,185,001,283.23
4                  Y  out-of-state   137,650,804.74
5                  Y       unknown    10,613,902.80

Pivot dataframe to aggregate each role's data in a single row.

In [38]:
contributions_by_redistricting = pd.pivot_table(contributions_by_redistricting, index=["redistricting_role"], columns=["in_out_state"]).reset_index()
contributions_by_redistricting

             redistricting_role           amount
in_out_state                            in-state   out-of-state       unknown
0                             N   295,402,598.38  35,910,271.54  9,461,789.96
1                             Y 1,185,001,283.23 137,650,804.74 10,613,902.80

Flatten the resulting dataframe's multi-index columns.

In [39]:
contributions_by_redistricting.columns = ["redistricting_role", "in_state", "out_of_state", "unknown"]
contributions_by_redistricting

  redistricting_role         in_state   out_of_state       unknown
0                  N   295,402,598.38  35,910,271.54  9,461,789.96
1                  Y 1,185,001,283.23 137,650,804.74 10,613,902.80

Calculate the total contributions by redistricting role.

In [40]:
contributions_by_redistricting["total"] = contributions_by_redistricting["in_state"] + contributions_by_redistricting["out_of_state"] + contributions_by_redistricting["unknown"]

Calculate the proportion of in-state, out-of-state and unknown contributions by redistricting role.

In [41]:
contributions_by_redistricting["pct_in_state"] = contributions_by_redistricting["in_state"] / (contributions_by_redistricting["in_state"] + contributions_by_redistricting["out_of_state"] + contributions_by_redistricting["unknown"])
contributions_by_redistricting["pct_out_of_state"] = contributions_by_redistricting["out_of_state"] / (contributions_by_redistricting["in_state"] + contributions_by_redistricting["out_of_state"] + contributions_by_redistricting["unknown"])
contributions_by_redistricting["pct_unknown"] = contributions_by_redistricting["unknown"] / (contributions_by_redistricting["in_state"] + contributions_by_redistricting["out_of_state"] + contributions_by_redistricting["unknown"])
contributions_by_redistricting

,redistricting_role,in_state,out_of_state,unknown,total,pct_in_state,pct_out_of_state,pct_unknown
0,N,"295,402,598.38","35,910,271.54","9,461,789.96","340,774,659.88",0.87,0.11,0.03
1,Y,"1,185,001,283.23","137,650,804.74","10,613,902.80","1,333,265,990.77",0.89,0.10,0.01

## Calculate contributions by candidate status and year

Group by year and candidate status and in-vs.-out-of-state contribution status and sum contributions.

In [42]:
contributions_by_status = contributions.groupby(["year", "standardized_status", "in_out_state"])["amount"].sum().reset_index()
contributions_by_status

    year  standardized_status  in_out_state           amount
0   2010  ADVANCED TO GENERAL      in-state   994,334,585.22
1   2010  ADVANCED TO GENERAL  out-of-state   106,201,794.05
2   2010  ADVANCED TO GENERAL       unknown     3,467,283.42
3   2010      DID NOT ADVANCE      in-state   249,895,273.18
4   2010      DID NOT ADVANCE  out-of-state    17,622,039.64
5   2010      DID NOT ADVANCE       unknown       732,511.21
6   2014  ADVANCED TO GENERAL      in-state   845,222,289.28
7   2014  ADVANCED TO GENERAL  out-of-state   137,331,122.02
8   2014  ADVANCED TO GENERAL       unknown    12,277,468.54
9   2014      DID NOT ADVANCE      in-state   131,663,625.63
10  2014      DID NOT ADVANCE  out-of-state    19,200,669.16
11  2014      DID NOT ADVANCE       unknown     5,283,135.04
12  2018  ADVANCED TO GENERAL      in-state 1,055,692,096.78
13  2018  ADVANCED TO GENERAL  out-of-state   135,794,023.30
14  2018  ADVANCED TO GENERAL       unknown    14,936,109.07
15  2018      DID NOT ADVANCE      in-state   424,711,784.83
16  2018      DID NOT ADVANCE  out-of-state    37,767,052.98
17  2018      DID NOT ADVANCE       unknown     5,139,583.69

Pivot dataframe to aggregate each candidate status' data in a single row.

In [43]:
contributions_by_status = pd.pivot_table(contributions_by_status, index=["standardized_status"], columns=["year", "in_out_state"]).reset_index()
contributions_by_status

              standardized_status         amount                              \
year                                        2010
in_out_state                            in-state   out-of-state      unknown
0             ADVANCED TO GENERAL 994,334,585.22 106,201,794.05 3,467,283.42
1                 DID NOT ADVANCE 249,895,273.18  17,622,039.64   732,511.21

                                                                           \
year                   2014                                          2018
in_out_state       in-state   out-of-state       unknown         in-state
0            845,222,289.28 137,331,122.02 12,277,468.54 1,055,692,096.78
1            131,663,625.63  19,200,669.16  5,283,135.04   424,711,784.83


year
in_out_state   out-of-state       unknown
0            135,794,023.30 14,936,109.07
1             37,767,052.98  5,139,583.69

Flatten the resulting dataframe's multi-index columns.

In [44]:
contributions_by_status.columns = ["standardized_status", "10_in_state", "10_out_of_state", "10_unknown",
                                   "14_in_state", "14_out_of_state", "14_unknown",
                                   "18_in_state", "18_out_of_state", "18_unknown"
                                  ]
contributions_by_status

,standardized_status,10_in_state,10_out_of_state,10_unknown,14_in_state,14_out_of_state,14_unknown,18_in_state,18_out_of_state,18_unknown
0,ADVANCED TO GENERAL,"994,334,585.22","106,201,794.05","3,467,283.42","845,222,289.28","137,331,122.02","12,277,468.54","1,055,692,096.78","135,794,023.30","14,936,109.07"
1,DID NOT ADVANCE,"249,895,273.18","17,622,039.64","732,511.21","131,663,625.63","19,200,669.16","5,283,135.04","424,711,784.83","37,767,052.98","5,139,583.69"

Calculate the total contributions by cycle.

In [45]:
contributions_by_status["18_total"] = contributions_by_status["18_in_state"] + contributions_by_status["18_out_of_state"] + contributions_by_status["18_unknown"]
contributions_by_status["14_total"] = contributions_by_status["14_in_state"] + contributions_by_status["14_out_of_state"] + contributions_by_status["14_unknown"]
contributions_by_status["10_total"] = contributions_by_status["10_in_state"] + contributions_by_status["10_out_of_state"] + contributions_by_status["10_unknown"]
contributions_by_status = contributions_by_status[["standardized_status", "18_in_state", "18_out_of_state", "18_unknown", "18_total", "14_in_state", "14_out_of_state", "14_unknown", "14_total", "10_in_state", "10_out_of_state", "10_unknown", "10_total"]]

Calculate the proportion of in-state, out-of-state and unknown contributions by cycle.

In [46]:
contributions_by_status["pct_18_in_state"] = contributions_by_status["18_in_state"] / contributions_by_status["18_total"]
contributions_by_status["pct_18_out_of_state"] = contributions_by_status["18_out_of_state"] / contributions_by_status["18_total"]
contributions_by_status["pct_18_unknown"] = contributions_by_status["18_unknown"] / contributions_by_status["18_total"]
contributions_by_status["pct_14_in_state"] = contributions_by_status["14_in_state"] / contributions_by_status["14_total"]
contributions_by_status["pct_14_out_of_state"] = contributions_by_status["14_out_of_state"] / contributions_by_status["14_total"]
contributions_by_status["pct_14_unknown"] = contributions_by_status["14_unknown"] / contributions_by_status["14_total"]
contributions_by_status["pct_10_in_state"] = contributions_by_status["10_in_state"] / contributions_by_status["10_total"]
contributions_by_status["pct_10_out_of_state"] = contributions_by_status["10_out_of_state"] / contributions_by_status["10_total"]
contributions_by_status["pct_10_unknown"] = contributions_by_status["10_unknown"] / contributions_by_status["10_total"]
contributions_by_status

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,standardized_status,18_in_state,18_out_of_state,18_unknown,18_total,14_in_state,14_out_of_state,14_unknown,14_total,10_in_state,10_out_of_state,10_unknown,10_total,pct_18_in_state,pct_18_out_of_state,pct_18_unknown,pct_14_in_state,pct_14_out_of_state,pct_14_unknown,pct_10_in_state,pct_10_out_of_state,pct_10_unknown
0,ADVANCED TO GENERAL,"1,055,692,096.78","135,794,023.30","14,936,109.07","1,206,422,229.15","845,222,289.28","137,331,122.02","12,277,468.54","994,830,879.84","994,334,585.22","106,201,794.05","3,467,283.42","1,104,003,662.69",0.88,0.11,0.01,0.85,0.14,0.01,0.90,0.10,0.00
1,DID NOT ADVANCE,"424,711,784.83","37,767,052.98","5,139,583.69","467,618,421.50","131,663,625.63","19,200,669.16","5,283,135.04","156,147,429.83","249,895,273.18","17,622,039.64","732,511.21","268,249,824.03",0.91,0.08,0.01,0.84,0.12,0.03,0.93,0.07,0.00

## Export the data

In [47]:
writer = pd.ExcelWriter("data/national_analysis.xlsx")
contributions_by_party_full_cycles.to_excel(writer, "contributions_party_full_cycles", index=False)
contributions_by_party.to_excel(writer, "contributions_by_party", index=False)
contributions_by_office.to_excel(writer, "contributions_by_office", index=False)
contributions_by_redistricting.to_excel(writer, "contributions_by_redistricting", index=False)
contributions_by_status.to_excel(writer, "contributions_by_status", index=False)
writer.save()